body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 300vh; /* Making the page tall to allow scrolling */
    animation: backgroundChange linear;
    animation-timeline: scroll();
    font-family: Arial, sans-serif;

  padding: 0;

}

@keyframes backgroundChange {
    0% { background-color: white; }
    33% { background-color: pink; }
    66% { background-color: green; }
    100% { background-color: orange; }
    
}
@keyframes navbarChange {
    0% { background-color: white; }
    33% { background-color: pink; }
    66% { background-color: green; }
    100% { background-color: orange; }
}
.Navbar{
    z-index: 1000; 
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position:fixed;
    background-color: aliceblue;
    transition: background-color 0.5s ease;
    animation: navbarChange linear;
    animation-timeline: scroll();
}
.v1{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    background-color: white;
}
#p1{
    margin-left: auto;
    width: 15%;
}
.scroll-content {
    text-align: center;
  }
.scroll-content img{
    /* position: relative; */
    height: 650px;
    display: inline-block;
    width:50%;
}
.media-container{
    overflow: hidden;
    position : relative;
}

.media-container video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    object-fit: cover;
    
    width: 40%; /* Adjust size as needed */
    margin-bottom: 30px;
  }
  
  .scroll-container:hover .photo {
    transform: translateY(-20px); /* Moves the photos upwards when scrolling */
  }